{% extends 'nav.html' %}


    {% block nav %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <br>
    <br>
    <div class="container jumbotron">
    <h1>Login</h1>
    <form action="" method="post">
      {% csrf_token %}

  
      <div class="fieldWrapper">
            {{ form.username.error }}
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
          </div>
          <div class="fieldWrapper">
            {{ form.password.error }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
          </div>
      <br>
    <div>
      <button class="btn btn-info">Submit</button>
    </div>
{% endblock nav %}